<div class="pl40">
    <h3>Add New Backup</h3>
</div>
<div class="content">
    <div class="clearfix"></div>
    <div class="panel p15">
        <form action="">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Name</label>
                    <input ng-model="d.name" type="text" class="form-control">
                </div>
                <div class="col-md-4 form-group">
                    <label>Select Database</label>
                    <select ng-model="d.database" class="form-control">
                        <option value="">Select Database</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label>Select Collection</label>
                    <select ng-model="d.collection" class="form-control">
                        <option value="">Select Collection</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>


                <div class="form-group col-md-12">
                    <button ng-click="submit()" class="btn btn-success pull-right ml10">Submit</button>
                    <a href="#/backups" class="btn btn-default pull-right">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>