<div class="content">
    <div class="form-group col-md-12">
        <a href="#/backups/add" class="btn btn-success pull-right">Create a Backup</a>
    </div>
    <div class="clearfix"></div>
    <div class="panel">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="20%">Firstname</th>
                <th width="20%">Lastname</th>
                <th width="20%">Email</th>
                <th width="20%">Phone</th>
                <th width="12%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>+923000768930</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="mdi mdi-download"></i></a>
                    <a href="javascript:void(0)" class="btn btn-success"><i
                            class="mdi mdi-time-restore-setting"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>+923000768930</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="mdi mdi-download"></i></a>
                    <a href="javascript:void(0)" class="btn btn-success"><i
                            class="mdi mdi-time-restore-setting"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                </td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>+923000768930</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="mdi mdi-download"></i></a>
                    <a href="javascript:void(0)" class="btn btn-success"><i
                            class="mdi mdi-time-restore-setting"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>